${webResourceManager.requireResource("com.atlassian.auiplugin:aui-table-sortable")}
<table class="aui aui-table-sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject</th>
    </thead>
    <tbody>
        #foreach($issue in $issues)
			<tr>
				<td>$issue.getId()</td>
				<td>$issue.getSubject()</td>
			</tr>
		#end
    </tbody>
</table>