${webResourceManager.requireResource("com.atlassian.auiplugin:aui-table-sortable")}
<table class="aui aui-table-sortable">
    <thead>
        <tr>
	    	#foreach($field in $fields)
	    		<th>$field</th>
	    	#end
        </tr>
    </thead>
    <tbody>
        #foreach($issue in $issues)
			<tr>
		    	#foreach($field in $fields)
		    		<td>$getter.get($issue, $field)</td>
		    	#end
			</tr>
		#end
    </tbody>
</table>