<table border="1">
	<tr>
		<td>
			<p>ID</p>          
		</td>
		<td>
			<p>Subject</p>
		</td>
	</tr>
	#foreach($id in $ids)
		<tr>
			<td>
				<p>$id</p>
			</td>
			<td>
				<p>$id</p>
			</td>
		<tr/>
	#end
</table>